.card {
    width: 320px;
    height: 420px;
    float: left;
    margin-left: 45px;
    border: 1px solid black;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 4);
    margin-top: 25px;
}

.card img-top {
    max-width: 90%;
    width: 260px;
    height: 130px;
    margin-left: 25px;
    ;
}